{% extends 'frontend/base.html' %}
{% block title %}Courses - VMLab{% endblock %}
{% block content %}
<h2 class="mb-4">Courses</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Teachers</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.description|truncatechars:50 }}</td>
        <td>{{ course.teachers.all|join:", " }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="4">No courses found.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
