<div class="bg-light border-end" id="sidebar-wrapper" style="width: 200px;">
  <div class="sidebar-heading p-3">导航</div>
  <div class="list-group list-group-flush">
    <a href="{% url 'frontend:dashboard' %}" class="list-group-item list-group-item-action bg-light">仪表盘</a>
    <a href="{% url 'frontend:course_list' %}" class="list-group-item list-group-item-action bg-light">课程管理</a>
    <a href="{% url 'frontend:vm_list' %}" class="list-group-item list-group-item-action bg-light">虚拟机管理</a>
  </div>
</div>
